<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "res1" class="org.example.Restaurent" autowire="byName">

    </bean>


    <bean id="b" class="org.example.Balakrishna" primary="true" >

    </bean>
    <bean id="d" class="org.example.Dhanush">

    </bean>
    <bean id="worker" class="org.example.Ganesh" >
        <property name="age" value="21"/>
        <property name="married" value="false"/>
    </bean>

</beans>